/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;600;700&display=swap');

/* RESETTING */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */
:root {
  /* font */
  --font: 'Signika Negative', sans-serif;
  /* color */
  --clr-white: #fff;
  --clr-black: #000;
  --alternative-gray: #252525;
  /* others */
  --transition: all 0.3s ease-in-out;
}

/* GLOBALS */
body {
  background-color: var(--clr-black);
  color: var(--clr-white);
  font-family: var(--font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1rem;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.25rem;
  }
}

/* nav */
nav {
  height: 100px;
  display: flex;
  align-items: center;
}
.nav-center {
  width: min(90vw, 1400px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-center .logo-container {
  flex: 1;
  display: flex;
  justify-content: center;
}
.logo-container img {
  max-width: 200px;
}
.nav-links {
  display: none;
}
.nav-link {
  color: var(--clr-white);
  text-transform: uppercase;
  font-size: 0.8rem;
}
.shop {
  display: none;
}
@media screen and (min-width: 800px) {
  .nav-center .logo-container {
    justify-content: flex-start;
    flex: none;
  }
  .nav-links {
    display: flex;
    gap: 1rem;
    flex: 1;
    margin-left: 2rem;
  }
  .nav-right {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .shop {
    display: block;
  }
}
