/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;600;700&display=swap');

/* RESETTING */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */
:root {
  /* font */
  --font: 'Signika Negative', sans-serif;
  /* color */
  --clr-white: #fff;
  --clr-black: #000;
  --alternative-gray: #252525;
  /* others */
  --transition: all 0.3s ease-in-out;
}

/* GLOBALS */
body {
  background-color: var(--clr-black);
  color: var(--clr-white);
  font-family: var(--font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1rem;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.25rem;
  }
}

/* section center */
.section-center {
  width: 90vw;
  max-width: 1400px;
  margin: 0 auto;
}

/* button */
.btn {
  display: inline-block;
  padding: 1.25rem 2rem;
  background-color: transparent;
  color: var(--clr-white);
  border: 2px solid var(--clr-white);
  font-size: 0.775rem;
  text-transform: uppercase;
  font-weight: 800;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  z-index: 2;
  transition: var(--transition);
  animation: fadeUp 0.6s ease-in-out 0.4s;
}
.btn:hover {
  color: var(--clr-black);
}
.btn::after {
  content: '';
  position: absolute;
  inset: 0;
  transform: translateY(100%);
  background-color: var(--clr-white);
  transition: var(--transition);
  z-index: -1;
}
.btn:hover::after {
  transform: translateY(0);
}
